<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"></html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Barrio Covid</title>


 
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  
  <link th:href="@{/css/estilos.css}" rel="stylesheet">

</head>

<body>

 

 <div th:include="comprador/header.html::header"></div>

    
    <div class="container">


      <div class="row">
        <h2 class="mt-4 mb-3">
          Mi carrito 
        </h2>
        <div class="aux"></div>
        
        <div class="credit-card-div">
        <img th:src="@{/img/cesta.png}" width="100" height="100" class="img-rounded" />
        </div>

        
        
    </div>
      

      
      
      <h2></h2>


      <div class="container">
      
            <table class="table">
              <thead>
                <tr >
                  <th scope="col" >Producto</th>
                  <th scope="col" >Precio</th>
                  <th scope="col" >Cantidad</th>
                  <th scope="col" >Total</th>
                  <th scope="col" >Quitar del carrito</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="info: ${infos}">
                  <td th:text="${info.nombre}">Nombre</td>
                  <td th:text="${info.precio}">Precio</td>
                  <td th:text="${info.cantidad}">Cantidad</td>
                  <td th:text="${info.total}">Total</td>
                  <td><a th:href="@{/borrarCarrito/{id} (id=${info.producto.id})}" class="btn btn-danger">X</a></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-lg-3">
            <h7 th:text=" 'Importe del pedido: ' + ${pedido.importe} + '€'" > </h7>
            <h2></h2>
              <a th:href="@{/comprador/tienda/{id} (id=${infos[0].producto.usuario.id})}" class="btn btn-info">Seguir Comprando</a>
              <h2></h2>
              <a th:href="@{/comprador/pedido}" class="btn btn-info">Siguiente</a>
              
            </ul>
          </div>

        </div>
      </div>
    </div>
   
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  </body>

  </html>
