
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Barrio Covid</title>


  
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

 
  <link th:href="@{/css/estilos.css}" rel="stylesheet">

</head>

<body>



 <div th:include="comprador/header.html::header"></div>

    <div class="container">
        <div class="row text-center">
        <h1 class="display-3">Lista de productos</h1>
        <a class="btn btn-info" th:href="@{/verCarrito}" > Ver carrito</a>
        </div>
        
   

     
      <div class="row text-center">
      <div class="col-lg-3 col-md-6 mb-4" th:each="producto: ${productos}">
      <form th:action="@{/carrito}" method="POST">
        <input type="hidden" th:value="${producto.id}" name="id">
        <div class="row text-center">
        
            <div class="card h-100 text-black" style="background-color: lightblue">
            
                <div class="card-body">
            
                    <p class="card-text" th:text=" 'Producto: ' + ${producto.nombre}"></p>
                    <p class="card-text" th:text=" 'Precio: ' + ${producto.precio}"></p>
              
              
                    <input class="card-text" type="number"  id="cantidad" name="cantidad" autocomplete="off"
                    min="1" th:max="${producto.cantidad}"   value="1">
           
                        <div class="card-body">
                            <button type="submit"  class="btn btn-info">Añadir al carrito </button>
                        </div>  
                </div>
            
             </div>
        </div>
        </form>
        </div>
        </div>
    

       
       

      </div>
    

    </div>
   
   

   
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  </body>

  </html>
